.pay {
  background-image: url(../../../img/Rectangle25.png);
  width: 100%;
  height: 88px;
}
.twoblok {
  width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.ps img {
  height: 45px;
  margin-right: 25px;
}
.setki img {
  height: 36px;
  margin-right: 55px;
}
.ps,.setki {
 margin-top: 22px;
}