.bgb {
  background: url(../../../img/vector.png);
  height: 300px;
  // width: 100%;
}
.get {
  // width: 1144px;
  // display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.part1 {
  position: relative;
  top: 20px;
  // width: 720px;

  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));

  h2 {
    background-color: $primary-4;
    padding: 8px 90px;
    text-transform: uppercase;
    @include font($primary-3, $font-bold, 36px);
  }
  div {
    width: 0;
    height: 0;
    border-top: 30px solid $primary-4;
    border-right: 30px solid transparent;
  }
}
.part2 {
  position: relative;
  top: 20px;
  // width: 400px;

  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));

  h2 {
    background-color: $primary-4;
    padding: 6px 12px;
    text-transform: uppercase;
    @include font($primary-3, $font-bold, 20px);
  }
  .span1 {
    font-size: 40px;
    // width: 41px;
    margin-right: 4px;
    color: red;
  }
  .span2 {
    font-size: 37px;
    color: red;
    margin-right: 5px;
  }
  .span3 {
    font-size: 30px;
    margin-right: 4px;
    color: red;
  }
}
.flex6 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  margin: 0 auto;
  margin-top: 10px;
}
.flex6 div:not(:last-child) {
  width: 310px;
  margin: 10px;
}
.flex6 p {
  @include font($base-light, $font-thin, 16px);

  font-weight: 400;

  text-transform: uppercase;
}
.flex6 input {
  width: 310px;
  height: 35px;
  margin-top: 12px;
}
.total {
  // display: flex;
  // align-items: flex-end;
  margin-top: 35px;
  padding: 26px 0;
}
.total1 {
  width: 95px;
  align-self: flex-end;
  @include font($base-light, $font-thin, 16px);

  font-weight: 400;
  text-transform: uppercase;
  margin-right: 25px;
}
.total2 {
  margin-right: 10px;
  font-size: 36px;

  @include font($base-light, $font-regular, 36px);
  font-weight: 400;

  text-transform: uppercase;
}
.total3 {
  @include font($base-light, $font-thin, 25px);
}
.part3 {
  position: relative;
  background-color: red;
  width: 300px;
  height: 40px;
  margin: 0 auto;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));

  h3 {
    background-color: $order-color;
    padding: 0px 70px;
    @include font($base-light, $font-thin, 36px);
  }
  div {
    width: 0;
    height: 0;
    border-top: 30px solid $order-color;
    border-right: 30px solid transparent;
  }
}
@media (max-width: 1200px) {
  .get {
    flex-wrap: wrap;
  }
  .part2 {
    margin-top: 15px;
    margin-left: 10px;
    padding-bottom: 15px;
  }
 .bgb {
   height: 500px;
 }
 .flex6 {
   flex-wrap: wrap;
   margin-top: 40px;
 }
}
@media (max-width: 576px) {
  .bgb {
   height: 830px;
 }
 .part1 h2 {
   padding: 11px 15px;
 }
}
@media (max-width: 582px) {
  .bgb {
   height: 880px;
 }
 .part1 h2 {
   padding: 11px 15px;
 }
}