.white {
  background: url(../../../img/Bg_elem1.png) $primary-5 center top;

  margin: 0 auto;
}
.whitete {
  // width: 1140px;
  height: 960px;
  // margin: 0 auto;
}
.white2 {
  // width: 1140px;
  margin: 50px auto 0 auto;
  display: flex;
}
.i1 {
  width: 25%;
  height: 580px;
  padding: 20px 15px;
  position: relative;
  .trik {
    @include trik;
    display: block;
    position: absolute;
    bottom: -30px;
    left: 0px;
  }
}
.i1:hover {
  transition: 0.1s;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
  background: $base-light;
}
.k1 {
  display: block;
  margin: 0 auto 20px auto;
}
.pblue {
  margin: 0 auto;

  text-align: center;
  color: #1b7fd0;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  // line-height: 22px;
  text-transform: uppercase;
}
.pblack {
  margin: 5px auto 0 auto;
  text-align: justify;

  color: #000000;
  font-family: "Arial Narrow";
  font-size: 16px;
}
.ull {
  width: 240px;
  margin-left: 20px;
}
.ulla {
  color: black;
  list-style-type: disc;
}
.btn1 {
  width: 120px;
  height: 35px;
  background-color: #075da2;
  color: white;
  margin: 0 auto;
  padding-top: 5px;
}
.bth {
  margin-top: 6px;
  margin-left: 12px;
  text-transform: uppercase;
  color: #ffffff;
}
.btn1 a {
  text-decoration: none;

  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  margin-top: 15px;
  line-height: 24px;
  text-transform: uppercase;
}

.b1 {
  margin-top: 130px;
}
.b2 {
  margin-top: 20px;
}
.b3 {
  margin-top: 78px;
}
.b4 {
  margin-top: 137px;
}
.pblue li {
  width: 180px;

  color: black;
  font-family: "Arial Narrow";
  font-size: 16px;
  font-weight: 400;
}
.ull {
  color: black;
}
.es1 {
  margin: 0 auto;
  position: relative;
  top: 45px;
  

  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));

  h2 {
    background-color: $primary-4;
    padding: 12px 92px;
    text-transform: uppercase;
    @include font($primary-3, $font-bold, 28px);

    text-transform: uppercase;
  }
  div {
    width: 0;
    height: 0;
    border-top: 30px solid $primary-4;
    border-right: 30px solid transparent;
  }
}
.white1 p {
  margin-top: 60px;

  height: 103px;
  font-family: "Arial Narrow";

  font-size: 18px;
  font-weight: 400;
}
@media only screen and (max-width: 1050px) {
  .whitete {
    height: 700px;
  }
  .b1,.b2,.b3,.b4{
    margin-top: 25px;
  }

.i1{
  height: 300px;
}
}
@media only screen and (max-width: 1200px) {
  .whitete {
    height: 700px;
  }
  .white2 {
margin-top: 75px;
  }
  .b1,.b2,.b3,.b4{
    margin-top: 25px;
  }
  .i1{
  height: 300px;
}
}
@media only screen and (max-width: 870px) {
.whitete {
    height: 580px;
  }
  .white2 {
margin-top: 75px;
  }
  .b1,.b2,.b3,.b4{
    margin-top: 25px;
  }
.white1 p {
  display: none;
}
}
@media only screen and (max-width: 990px) {
  .whitete {
    height: 610px;
  }
  .white1 p {
  display: none;
}
}
@media only screen and (max-width: 768px) {
.whitete {
    height: 500px;
  }
  .pblue {
    display: none;
  }
.i1{
  height: 210px;
  margin: 5px;
}
.es1 span {
  display: none;
}
}
